<section class="highlights" id="highlights">
	<div class="highlights__item">
		<img
			src="/assets/highlights_supply.svg"
			alt=""
			class="highlights__icon"
			width="48"
			height="48"
			loading="lazy"
		/>

		<div class="highlights__values">
			<p class="highlights__number">500M</p>
			<p class="highlights__label">Total Supply VETC</p>
		</div>
	</div>

	<div class="highlights__item">
		<img
			src="/assets/highlights_launch.svg"
			alt=""
			class="highlights__icon"
			width="48"
			height="48"
			loading="lazy"
		/>

		<div class="highlights__values">
			<p class="highlights__number">Fair</p>
			<p class="highlights__label">Launch (No Presale)</p>
		</div>
	</div>

	<div class="highlights__item">
		<img
			src="/assets/highlights_liquidity.svg"
			alt=""
			class="highlights__icon"
			width="48"
			height="48"
			loading="lazy"
		/>

		<div class="highlights__values">
			<p class="highlights__number">60%</p>
			<p class="highlights__label">Liquidity Pool</p>
		</div>
	</div>

	<div class="highlights__item">
		<img
			src="/assets/highlights_bsc.svg"
			alt=""
			class="highlights__icon"
			width="48"
			height="48"
			loading="lazy"
		/>

		<div class="highlights__values">
			<p class="highlights__number">BSC</p>
			<p class="highlights__label">Binance Smart Chain</p>
		</div>
	</div>
</section>
