.highlights {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
	padding: 60px 16px;
	background-color: #0a0a0f;
}

.highlights__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.highlights__icon {
	width: 48px;
	height: 48px;
}

.highlights__values {
	display: flex;
	flex-direction: column;
	gap: 10px;
	text-align: center;
}

.highlights__number {
	color: #ff8c00;
	font-size: 48px;
	font-weight: 700;
	line-height: 48px;
}

.highlights__label {
	color: #888899;
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
}

@media (min-width: 744px) and (max-width: 1561px) {
	.highlights {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 40px 24px;
		padding: 64px 40px;
	}
}

@media (min-width: 1562px) {
	.highlights {
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 32px;
		padding: 50px 165px;
	}

	.highlights__item {
		width: 284px;
	}
}
